<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ndfdXMLBinding">
					<security mode="Transport" >
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default" />
					</security>
                </binding>
                <binding name="ndfdXMLBinding1" />
                <binding name="CalculatorSoap" />
                <binding name="CalculatorServiceSoap">
					<security mode="Transport" >
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default" />
					</security>
                </binding>
                <binding name="CalculatorServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://graphical.weather.gov:443/xml/SOAP_server/ndfdXMLserver.php"
                binding="basicHttpBinding" bindingConfiguration="ndfdXMLBinding"
                contract="WeatherServiceReference.ndfdXMLPortType" name="ndfdXMLPort" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="CalculatorService.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="https://localhost:44387/CalculatorService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorServiceSoap"
                contract="MyCalculatorService.CalculatorServiceSoap" name="CalculatorServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>